@model Kit_Up.Models.Urun

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<div>
    <h4>
        @Html.DisplayFor(model => model.UrunAdi)
        kitabının detayları
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunYazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunYazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunStok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunStok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunKategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunKategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunSatistami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunSatistami)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.UrunId }) |
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
