@using Kit_Up.Models;

@model IEnumerable<Urun>

@{
    ViewBag.Title = "Anasayfa";
}
<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/Content/assets/images/ana_vid.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>En Uygun ve En İyi Kitaplar</h6>
            <h2><em>Cebinizdeki</em> Kütüphane</h2>
            <div class="main-button">
                <div class="scroll-to-section">
                    <a href="#section2">Daha Fazlasını Keşfet</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>Kiralama</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                Haftada 3 kitap kiralama hakkınız kullanarak kitap
                                kiralayabilir, okumayı bitirdikten sonra geri teslim
                                edebilirsiniz.
                            </p>
                            <p class="hidden-sm">
                                Curabitur id eros vehicula, tincidunt libero eu, lobortis
                                mi. In mollis eros a posuere imperdiet.
                            </p>
                            <!-- <div class="scroll-to-section">
                              <a href="#section2">More Info.</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Satın Alma</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                İstediğiniz kitabı ve daha fazlasını uygun fiyata satın
                                alabilirsiniz
                            </p>
                            <p class="hidden-sm">
                                Curabitur id eros vehicula, tincidunt libero eu, lobortis
                                mi. In mollis eros a posuere imperdiet.
                            </p>
                            <!-- <div class="scroll-to-section">
                              <a href="#section3">Details</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>İnceleme</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                Uzmanlar tarafından hazırlanmış kitap incelemeri isterseniz
                                makale tarzında okuyarak isterseniz video formatında
                                izleyerek kitap hakkında bilgi sahibi olabilirsiniz
                            </p>
                            <p class="hidden-sm">
                                Curabitur id eros vehicula, tincidunt libero eu, lobortis
                                mi. In mollis eros a posuere imperdiet.
                            </p>
                            <!-- <div class="scroll-to-section">
                              <a href="#section4">Read More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Ayın Kitapları</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Kahin ve Anka</a></li>
                        <li><a href="#tabs-2">1984</a></li>
                        <li><a href="#tabs-3">Gün Olur Asra Bedel</a></li>
                    </ul>
                    <section class="tabs-content">
                        <article id="tabs-1">
                            @foreach (var item in Model)
                            {
                                if (item.UrunId == 1)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="@item.UrunImg" alt="@item.UrunAdi" />
                                        </div>
                                        <div class="col-md-6">
                                            <h4>@item.UrunAdi</h4>
                                            <p>
                                                @if (item.UrunAciklama.Length > 255)
                                                {
                                                    @(item.UrunAciklama.Substring(0, 252) + "...")
                                                }
                                                else
                                                {
                                                    @item.UrunAciklama.Length
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                        </article>
                        <article id="tabs-2">
                            @foreach (var item in Model)
                            {
                                if (item.UrunId == 2)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="@item.UrunImg" alt="@item.UrunAdi" />
                                        </div>
                                        <div class="col-md-6">
                                            <h4>@item.UrunAdi</h4>
                                            <p>
                                                @if (item.UrunAciklama.Length > 255)
                                                {
                                                    @(item.UrunAciklama.Substring(0, 252) + "...")
                                                }
                                                else
                                                {
                                                    @item.UrunAciklama.Length
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                        </article>
                        <article id="tabs-3">
                            @foreach (var item in Model)
                            {
                                if (item.UrunId == 3)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="@item.UrunImg" alt="@item.UrunAdi" />
                                        </div>
                                        <div class="col-md-6">
                                            <h4>@item.UrunAdi</h4>
                                            <p>
                                                @if (item.UrunAciklama.Length > 255)
                                                {
                                                    @(item.UrunAciklama.Substring(0, 252) + "...")
                                                }
                                                else
                                                {
                                                    @item.UrunAciklama.Length
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="section coming-soon" data-section="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="continer centerIt">
                    <div>
                        <h4>
                            Take <em>any online course</em> and win $326 for your next
                            class
                        </h4>
                        <div class="counter">
                            <div class="days">
                                <div class="value">00</div>
                                <span>Days</span>
                            </div>

                            <div class="hours">
                                <div class="value">00</div>
                                <span>Hours</span>
                            </div>

                            <div class="minutes">
                                <div class="value">00</div>
                                <span>Minutes</span>
                            </div>

                            <div class="seconds">
                                <div class="value">00</div>
                                <span>Seconds</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="right-content">
                    <div class="top-content">
                        <h6>
                            Register your free account and <em>get immediate</em> access
                            to online courses
                        </h6>
                    </div>
                    <form id="contact" action="" method="get">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name"
                                           type="text"
                                           class="form-control"
                                           id="name"
                                           placeholder="Your Name"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email"
                                           type="text"
                                           class="form-control"
                                           id="email"
                                           placeholder="Your Email"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="phone-number"
                                           type="text"
                                           class="form-control"
                                           id="phone-number"
                                           placeholder="Your Phone Number"
                                           required="" />
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="button">
                                        Get it now
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Kitaplar</h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                @Html.Partial("Urunler", Model)
            </div>

        </div>
    </div>
</section>

